@namespace PlannerApp.Components

<MudPaper Class="py-1 px-2 my-4" Elevation="0">
    <div class="d-flex">
        <MudTextField @bind-Value="_query" Variant="Variant.Outlined" />
        <MudIconButton Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="ma-2"  OnClick="async () => await GetPlansAsync(1)"></MudIconButton>
        
    </div>
</MudPaper>

@if (_isBusy)
{
    <MudGrid>
        @for (int i = 0; i < 6; i++)
        {
            <Skelton />
        }
    </MudGrid>
}
else
{
<MudGrid Spacing="2">
   
    @if (_result != null && _result.Records != null)
    {
        @foreach (var plan in _result.Records)
        {
            <MudItem sm="12" md="4" lg="3">
                <PlanCard PlanSummary="plan" />

            </MudItem>
        }
    }
</MudGrid>
}

<div class="d-flex justify-center py-2 px-1">
    @for (int i = 1; i <= _result.TotalPages; i++)
    { 
        int index = i;
        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Primary" Class="ma-2" 
                   OnClick="async () => await GetPlansAsync(index)" Disabled="@(_pageNumber == index)">@index</MudButton>
    }

</div> 